.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eeeff7;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: #75767f 1px solid;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 60px;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.3);
  }
}

.item {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  position: relative;
  transition: color 0.3s ease;
  color: #75767f;

  &:hover {
    color: #eeeff7;

    &::after {
      content: '';
      position: absolute;
      left: 10%;
      right: 0;
      bottom: -2px;
      height: 2px;
      background-color: #eeeff7;
      transition: width 0.3s ease;
      width: 80%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #75767f;
    width: 0;
    transition: width 0.3s ease;
  }
}

.navButtons {
  display: flex;
  gap: 0;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 30px;
  border-left: #75767f 1px solid;

  img {
    height: 24px;
  }
}
