@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: #f1f2f9;
  background-color: #0f1121;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-left: 40px;
}

.container {
  max-width: 1260px;
  margin: auto;
}
